/* BARRA DE NAVEGACIÓN */
.container{
    background-color: rgba(0, 50, 77, 100);
    display: flex;
    justify-content: center;
    place-items: center;
    width: 50%;
    border-radius: 0 0 20px 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 4rem;
  }
  
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-right: 2rem;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* BARRA DE NAVEGACIÓN */


/* HEADER */
.cabecero{
    display: flex;
    justify-content: space-between;
    place-items: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 10rem;
    border-radius: 80px 0px 80px 0px;
    background-color: #F5F5F5;
}

.titulo{
    margin-right: 4rem;
    
}

img{
    width: 125px;
    margin-left: 4rem;
}
h1{
    margin-top: 1rem;
    font-size: 2.5rem;
    color: #010101;
}
p{
    text-align: end;
    color: #010101;
    font-size: 1.3rem ;
}
  